<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Task Manager</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
</head>

<body>
<div class="container my-2">
    <div class="card">
        <div class="card-body">
            <div th:switch="${tasks}" class="container my-5">
                <p class="my-5">
                    <a href="/new" class="btn btn-primary">
                        <i class="fas fa-user-plus ml-2">New Task</i></a>
                </p>
                <div class="col-md-10">
                    <h2 th:case="null">No tasks</h2>
                    <div th:case="*">
                        <table class="table table-striped table-responsive-md">
                            <thead>
                            <tr>
                                <th>Number</th>
                                <th>Description</th>
                                <th>Status</th>
                                <th>Comments</th>
                                <th>Edit</th>
                                <th>Delete</th>
                                <th>Comments</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="task : ${tasks}">
                                <td th:text="${task.id}"></td>
                                <td th:text="${task.description}"></td>
                                <td th:text="${task.status}"></td>
                                <td th:text="${task.comments}"></td>
                                <!--<td>-->
                                    <!--<select class="form-control" id="comment" name="comment">-->
                                        <!--<option value="">Comments</option>-->
                                        <!--<option th:each="comment : ${comments}"-->
                                        <!--th:value="${comment.id}"-->
                                        <!--th:text="${comment.id}+' : '+${comment.text}"></option>-->
                                    <!--</select>-->
                                <!--</td>-->

                                <td>
                                    <a th:href="@{/edit/{id}(id=${task.id})}"
                                       class="btn btn-primary">
                                        <i class="fas fa-user-edit ml-2"></i>
                                    </a>
                                </td>
                                <td>
                                    <a th:href="@{/delete/{id}(id=${task.id})}"
                                       class="btn btn-primary">
                                        <i class="fas fa-user-times ml-2"></i>
                                    </a>
                                </td>
                                <td>
                                    <!--<a th:href="@{/comments/{id}(id=${task.id})}"-->
                                    <a th:href="@{/get_comments/{id}(id=${task.id})}"
                                       class="btn btn-primary">
                                        <i class="fas fa-user-times ml-2"></i>
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
</body>

</html>